In [ ]:
import numpy as np # Numpy(넘파이) 패키지 임포트
import pandas as pd #pandas(판다스) 패키지 임포트
import seaborn as sns #Seaborn(씨본) 패키지 임포트
import matplotlib.pyplot as plt # 맷플롯립 import 하기
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 15
matplotlib.rcParams['axes.unicode_minus'] = False

In [ ]:
df = pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
df.loc[df['smoker'] == 'no', 'smoker'] = 0
df.loc[df['smoker'] == 'yes', 'smoker'] = 1
df = df.astype({'smoker' : int})
df.drop(['sex', 'children', 'region'], axis=1, inplace=True)
df = df.loc[(df['charges'] <= 15000) & (df['smoker'] == 0) | (df['smoker'] == 1)]
df_0 = df.loc[df['smoker'] == 0]
df_1 = df.loc[df['smoker'] == 1]
df_0['bmi'] = df['bmi'] // 5 * 5
df_1['age'] = df['age'] // 10 * 10

In [ ]:
for_dic = {
    'age' : [10, 20, 30, 40, 50, 60],
    'bmi' : [15, 20, 25, 30, 35, 40, 45],
    'smoker' : [0, 1]
}