In [31]:
import pandas as pd

In [32]:
movie_df = pd.read_json('movie.json')

In [33]:
rating_df = pd.read_json('rating.json')

In [34]:
movie_df.head(2)

   id                 title
0   1              Breakin'
1   2  Oranges and Sunshine

In [35]:
rating_df.head(2)

   id  userId  movieId  rating
0   1     944       50       5
1   2     944      172       5

In [36]:
movie_df.rename(columns={'id' : 'movieId'}, inplace=True)

In [37]:
movie_df

     movieId                            title
0          1                         Breakin'
1          2             Oranges and Sunshine
2          3     Hell Town (Born to the West)
3          4                         Expelled
4          5         Marva Collins Story, The
..       ...                              ...
995      996            Triumph of the Spirit
996      997                   Broadcast News
997      998                    Ripley's Game
998      999                        Neighbors
999     1000  Beekeeper, The (O melissokomos)

[1000 rows x 2 columns]

In [55]:
movie_rating_df = pd.merge(movie_df, rating_df, on = 'movieId', how='left')

In [56]:
movie_rating_df

       movieId                            title     id  userId  rating
0            1                         Breakin'     28     308       4
1            1                         Breakin'    458     287       5
2            1                         Breakin'    961     148       4
3            1                         Breakin'    975     280       4
4            1                         Breakin'   1328      66       3
...        ...                              ...    ...     ...     ...
92307     1000  Beekeeper, The (O melissokomos)  36249     497       2
92308     1000  Beekeeper, The (O melissokomos)  48985      22       3
92309     1000  Beekeeper, The (O melissokomos)  59254     276       2
92310     1000  Beekeeper, The (O melissokomos)  62740     642       3
92311     1000  Beekeeper, The (O melissokomos)  66318     880       3

[92312 rows x 5 columns]

In [57]:
df = movie_rating_df.pivot_table(index='userId', columns='title', values='rating')

In [58]:
df

title,(A)sexual,009 Re: Cyborg,"10,000 BC",1987,21 Up,29th Street,3 Idiots,3-Iron (Bin-jip),3000 Miles to Graceland,300: Rise of an Empire,...,You Belong to Me,You Were Never Lovelier,You Will Be My Son (Tu seras mon fils),Zatoichi Meets the One-Armed Swordsman (Shin,Zatoichi on the Road (Zatôichi kenka-tabi) (Z,Zatoichi's Conspiracy (Shin Zatôichi monogata,Zelig,Zigeunerweisen (Tsigoineruwaizen),[REC]²,eXistenZ
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
943,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,3.5,NaN,NaN,NaN
944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
corr_movie = df.corr(min_periods= 20)

In [60]:
corr_movie

title,(A)sexual,009 Re: Cyborg,"10,000 BC",1987,21 Up,29th Street,3 Idiots,3-Iron (Bin-jip),3000 Miles to Graceland,300: Rise of an Empire,...,You Belong to Me,You Were Never Lovelier,You Will Be My Son (Tu seras mon fils),Zatoichi Meets the One-Armed Swordsman (Shin,Zatoichi on the Road (Zatôichi kenka-tabi) (Z,Zatoichi's Conspiracy (Shin Zatôichi monogata,Zelig,Zigeunerweisen (Tsigoineruwaizen),[REC]²,eXistenZ
title,,,,,,,,,,,,,,,,,,,,,
(A)sexual,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.571847,NaN,NaN
009 Re: Cyborg,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.081354,NaN,NaN,NaN
"10,000 BC",NaN,NaN,1.000000,NaN,NaN,9.507412e-02,NaN,0.154781,NaN,NaN,...,NaN,NaN,NaN,0.345809,NaN,NaN,0.369139,NaN,NaN,NaN
1987,NaN,NaN,NaN,1.0,NaN,-3.243637e-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21 Up,NaN,NaN,NaN,NaN,1.00000,-3.014688e-02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.113852,NaN,NaN,0.180270,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zatoichi's Conspiracy (Shin Zatôichi monogata,NaN,NaN,NaN,NaN,NaN,2.729696e-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Zelig,NaN,0.081354,0.369139,NaN,0.18027,1.688218e-01,0.121494,NaN,NaN,0.052219,...,-0.019794,NaN,NaN,0.249906,0.388755,NaN,1.000000,-0.117525,NaN,NaN
Zigeunerweisen (Tsigoineruwaizen),0.571847,NaN,NaN,NaN,NaN,NaN,0.568937,NaN,NaN,NaN,...,NaN,NaN,NaN,0.372408,0.433856,NaN,-0.117525,1.000000,NaN,NaN
[REC]²,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
eXistenZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [15]:
# 특정 유저의 맞춤형 영화 추천!
# userId 1 번인 사람의 예

In [16]:
user_3 = rating_df.loc[  rating_df['userId'] == 3 , ]

In [17]:
user_3_df = pd.merge( user_3 , movie_df, on = 'movieId')[['title','rating']]

In [18]:
user_3_df

                                            title  rating
0                               Killing Room, The       1
1                                      Lights Out       1
2                         3000 Miles to Graceland       1
3                                      Power Play       3
4                                      La cravate       2
5                      Man Who Fell to Earth, The       4
6                                 Criminal Lovers       2
7                                 Frankenstein 90       1
8                                   Elevator Girl       5
9                 Private Life of Henry VIII, The       3
10                                  Runaway Bride       3
11                  Innocent, The (Innocente, L')       1
12                                 Just Add Water       4
13  Friends of God: A Road Trip with Alexandra Pe       2
14      Clubland (a.k.a. Introducing the Dwights)       3
15        Naked Gun 2 1/2: The Smell of Fear, The       3
16                                          Gator       2
17           Sachs' Disease (La maladie de Sachs)       4
18                            G.I. Joe: The Movie       3
19                           Mary, Queen of Scots       2
20                                Woman's Tale, A       4
21                                          Black       3
22           Live and Become (Va, vis et deviens)       2
23                   Nine to Five (a.k.a. 9 to 5)       3
24                                  South Central       2
25                                     Women, The       3
26                             Casablanca Express       5
27                              Lone Wolf McQuade       4
28               Crime and Punishment in Suburbia       3
29                                 Late Show, The       2
30                                       Coquette       3
31                             Legion of the Dead       5
32  In China They Eat Dogs (I Kina spiser de hund       2
33                               Heavy Metal 2000       3
34     Alice in the Cities (Alice in den Stadten)       4
35                                     Scarecrows       3
36                                      Mr. North       4
37                            Sex & the Other Man       2
38                                     Bubble Boy       4
39         Greater Promise, A (Iskateli Schastya)       2
40   Assault of the Sasquatch (Sasquatch Assault)       2
41                                   Gymnast, The       3
42  Earth Trembles, The (Terra trema: Episodio de       2
43                                      Explorers       3
44                                              4       2
45                   Princess and the Goblin, The       4
46                                     Arrowsmith       2
47                                As Cool As I Am       2
48                                First Time, The       1
49  Shadows of Our Forgotten Ancestors (Tini zabu       5
50                                     Ossessione       1
51                After Alice (Eye of the Killer)       1
52                           How the West Was Fun       5
53              Can I Do It 'Till I Need Glasses?       5

In [19]:
user_3_df['title'][0]

'Killing Room, The'

In [20]:
recom_movies = corr_movie['Killing Room, The'].dropna().sort_values(ascending=False).to_frame()

In [21]:
recom_movies.columns = ['correlation']

In [22]:
recom_movies['weight'] = recom_movies['correlation'] * user_3_df['rating'][0]

In [23]:
recom_movies

                                               correlation    weight
title
Killing Room, The                                 1.000000  1.000000
Shark in Venice                                   0.629446  0.629446
Frankenweenie                                     0.617165  0.617165
Chico & Rita                                      0.594647  0.594647
Other Side of the Bed, The (Otro lado de la c     0.592820  0.592820
...                                                    ...       ...
Elevator Girl                                    -0.216886 -0.216886
Mary Reilly                                      -0.222946 -0.222946
Bloodfist                                        -0.242868 -0.242868
Katalin Varga                                    -0.248864 -0.248864
Posse                                            -0.266399 -0.266399

[371 rows x 2 columns]

In [24]:
similar_movies_list = pd.DataFrame()

for i in range( user_3_df.shape[0] ) :
  movie_title = user_3_df['title'][i]
  recom_movies = corr_movie[movie_title].dropna().sort_values(ascending=False).to_frame()
  recom_movies.columns = ['correlation']
  recom_movies['weight'] = recom_movies['correlation'] * user_3_df['rating'][i]
  similar_movies_list = pd.concat(  [similar_movies_list, recom_movies] )

In [25]:
similar_movies_list.sort_values('weight', ascending = False, inplace=True)

In [26]:
for name in user_3_df['title'] :
  if name in similar_movies_list.index :
    similar_movies_list.drop(name, axis = 0, inplace=True)

In [27]:
similar_movies_list.reset_index()['title'].value_counts()

title
Frozen Planet                                    49
Rising Sun                                       47
Standard Operating Procedure                     47
Wolves                                           46
Hairdresser's Husband, The (Le mari de la coi    45
                                                 ..
ChubbChubbs!, The                                 1
Fine Mess, A                                      1
Temple Grandin                                    1
Man in the Chair                                  1
Il Mare (Siworae)                                 1
Name: count, Length: 728, dtype: int64

In [28]:
recom_df = similar_movies_list.groupby('title')['weight'].max().sort_values(ascending=False).head(10).to_frame().reset_index()
# 중복추천된 영화는 weight가 높은거로 나타나게 해라.

In [29]:
recom_df = pd.merge( recom_df , movie_df, on = 'title')

In [30]:
recom_df

                                           title    weight  movieId
0                                  Katalin Varga  3.574500      157
1                                  Stolen Summer  3.433415       54
2                               The Brass Legend  3.323090      287
3               Abandon Ship! (Seven Waves Away)  3.245280      145
4                              Darker Than Night  3.182074      876
5                            Gentleman's Game, A  3.138473      849
6                          How to Make a Monster  3.014706      456
7                                  Unconditional  2.983056      746
8  Ali: Fear Eats the Soul (Angst essen Seele au  2.954062      837
9                   9 1/2 Weeks (Nine 1/2 Weeks)  2.923508      243

In [ ]:
"ecr:BatchCheckLayerAvailability",
"ecr:BatchDeleteImage",
"ecr:BatchGetImage",
"ecr:CompleteLayerUpload",
"ecr:DeleteLifecyclePolicy",
"ecr:DeleteRepository",
"ecr:DeleteRepositoryPolicy",
"ecr:DescribeImages",
"ecr:DescribeRepositories",
"ecr:GetAuthorizationToken",
"ecr:GetDownloadUrlForLayer",
"ecr:GetLifecyclePolicy",
"ecr:GetLifecyclePolicyPreview",
"ecr:GetRepositoryPolicy",
"ecr:InitiateLayerUpload",
"ecr:ListImages",
"ecr:PutImage",
"ecr:PutLifecyclePolicy",
"ecr:SetRepositoryPolicy",
"ecr:StartLifecyclePolicyPreview",
"ecr:UploadLayerPart"